/*Documentos css*/

body{background-color: rgb(93, 93, 95);}

h1 {color: rgb(255, 255, 255);
   text-align: center;}
        
   h2, h3, h4 { color: rgb(255, 255, 255); }
   h5, h6 {color: rgb(255, 255, 255);}

   p{color: wheat;}